admin/node_modules/
auth-backend/.pytest-cache/
auth-backend/.venv/
auth/node_modules/
db_data/
keycloak_data/
quiz-backend-ai/.pytest-cache/
quiz-backend-ai/.venv/
quiz-backend-api/.pytest-cache/
quiz-backend-api/.venv/
quiz/node_modules/
logs/
qdrant_data/
.venv/
wheels/
.DS_store
.env
*.db
*.tmp
*.log
*.py[oc]
.pytest_cache
__pytest-cache__
